@charset "UTF-8";
.fr-header {height: 60px; background: #aaa; border: 0; display: inline-block; width: 100%}
.fr-header .menu {background: none; border: 0; margin: 4px 0 0 0}
.fr-header .logo-area {width: 60%; padding: 10px; float: right}
.fr-header .logo-area .logo-img {height: 40px;float: right}
.fr-header .menu-img {height: 30px}
.close-img {height: 30px; float: right}
.log-img {height: 20px}
.navbaraa {width:100%; display:inline-block; padding: 15px 0 15px 0}

.select-menu {width: calc(100%+30px); margin: 0 -15px 0 -15px}
.select-menu .tabs {width: 100%; text-align:  center ; display:inline-block}
.select-menu .tabs .tab1 {width: 50%; height: 50px; float: left; background: #ddd}
.select-menu .tabs .tab2 {width: 50%; height: 50px; float: right; background: #ccc}
.select-menu .tabs .tab3 {width: 100%; height: 50px; float: right; background: #ccc}
.select-menu .tabs .active { background: #aaa; color: #fff}

.login-row .left {width: 30%; padding: 15px 0 0 0}
.login-row .right {width: 70%}
.login-popup {width: 300px;padding: 20px}
.login-popup .login-div {width: 100%; display: inline-block; text-align: center}